<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Play Quiz</title>

</head>
<body>
<h1>Client Play Quiz</h1>
<p>Room Code: <%= roomCode %></p>

<% quizData.questions.forEach((question, index) => { %>
    <div class="question">
        <h2>Question <%= index + 1 %>:</h2>
        <p><%= question.questionText %></p>
        <ul>
            <% question.options.forEach((option, optionIndex) => { %>
                <li><label><input type="radio" name="question<%= index + 1 %>" value="<%= option %>"> <%= option %></label></li>
            <% }) %>
        </ul>
    </div>
<% }) %>

<button id="submitAnswerButton">Submit Answer</button>

</body>
</html>